{% extends 'portal/base.html' %}
{% block content %}
	<div class="jumbotron text-center">
	  <h2>Rathi Coaching Classes, Akot</h2>
	  <p>Student Fee Details - {{name}}</p>
	  <button class="btn btn-default" type="submit" ><a href="{% url 'student_dashboard'%}">Dashboard</a></button>
	  <button class="btn btn-default" type="submit" ><a href="/logout">Log Out</a></button>
	</div>
	<div class="container">
	  <div class="row">
	 	<div class="col-sm-3">	 	</div>
	 	<div class="col-sm-6">
	 		<h2 class="sub-header"><center>Roll No: {{student_id}}</center></h2>
	 		<h2 class="sub-header"><center>Batch: {{standard}}th {{subject}}</center></h2>
      <h3 class="sub-header"><center>Total Fee: {{totalfee}}</center></h3>
      <h3 class="sub-header"><center>Fee Paid: {{feepaid}}</center></h3>
	 		<div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Date</th>
                  <th>Amount</th>
                  </tr>
              </thead>
              <tbody>
              {% for row in fee %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{row.0}}</td>
                  <td>{{row.1}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
	 	</div>
	 	<div class="col-sm-3">	 	</div>
	  </div>
	</div>
  <center>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#1">Pay Fee</button>
    <div class="modal fade" id="1" role="dialog">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Pay Fee</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" role="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
          <input type="number" name="amount" class="form-control" placeholder="Amount" required>
          <input type="email" name="email" class="form-control" placeholder="Email Id" required>
          <input type="number" name="mobile" class="form-control" placeholder="Mobile" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Proceed to Pay Fee</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    </div>
    </div>
  </center>
{% endblock %}